@{
    ViewBag.Title = "ConfirmAccount";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar la cuenta. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
